header{
	background: #eef3f6;
}

.bold{
    font-family: 'Roboto', 'sans-serif'; 
    font-weight: 700;    
}

.regular{
    font-family: 'Roboto', 'sans-serif'; 
    font-weight: 400; 
}

.light{
    font-family: 'Roboto', 'sans-serif'; 
    font-weight: 300;
}

.medium{
    font-family: 'Roboto', 'sans-serif'; 
    font-weight: 500; 
}

.logo_header{
	width: 50%;
    margin: 2rem;
}

#iconos{
	width: 30px;
}

.nav-color{
	background-color: #001841;
}

li{
	padding-right: 80px;
}

li a{
	font-size: 18px;
}

#contacto-correo{
    margin-top: 40px;
}

#contacto-telefono{
    margin-top: 40px;
}

#boton-cotizacion{
    margin-top: 40px;
}

.slider-texto{
	position: absolute;
    left: 15%;
    top: 30%;
    width: 50%;
    color: white; 
}

@media (max-width: 750px) {
  .slider-texto {
    display: none;
  }
}

@media (max-width: 750px) {
  #contacto-correo {
    display: none;
  }
}

@media (max-width: 750px) {
  #contacto-telefono {
    display: none;
  }
}

@media (max-width: 991px) {
  .nav-container {
    width: 100% !important;
  }
}

@media (max-width: 1199px) {
  #remolque{
    display: none;
    /*width: 300px !important;
    margin-left: -150px !important;
    margin-top: 0px !important;*/
  }
  #remolque2{
    display: block !important;
  }
}

@media (max-width: 1600px) {
  #remolque2{
    display: none;
  }
}


@media (max-width: 1199px) {
  #comercializamos, #quienes{
    text-align: center;
  }
}





@media (max-width: 991px) {
  #remolque{

    position: relative !important;
    width: 50% !important;
    margin: auto !important;
    padding: 10px;
  }
}


#section-red{
    background: url('../../static/images/section-2.png') no-repeat center center;
    background-size: cover;
    height: auto;
}

#section-red #content-info{
    position: relative;
    height: 35%;
    background-color: white;
    padding: 10px 50px 10px 50px;
}

#remolque{
    position: absolute;
    width: 470px;
    margin-left: -210px;
    margin-top: -60px;
}


#section-red #content-cards{
    position: relative;
    height: auto;
    padding: 70px 50px 70px 50px; 
    background-color: #eff3f6;

}

.vermas{
    width: 80%;
    margin-top: 20px !important;
}

.btn{
    border-radius: 0 !important;
}

.card-footer{
    height: 50px !important;
    background-color: #fff !important;
    border-color: #fff !important;
}


#section-blue{
    background: url('../../static/images/section-3.png') no-repeat center center;
    background-size: cover;
    height: 45vh;
    color: white;
    text-align: center;
}

#section-red #content-cards .card{
    margin: 10px;

}

.label{
    color: black;

}

iframe{
    max-width: 100%;
    height: auto;
    margin: 10px;
}






#section-white{
    background-size: cover;
    height:auto;
    color: white;
    text-align: center;
}

#section-white #contact{
    position: relative;
    background-color: #eff3f6;
    height: auto;
}

.formato{
    color: black;
}

.input-contacto{
    border-radius: 10px;
    height: 30px;
    width: 400px; 
}

.input-contacto2{
    border-radius: 10px; 
}

/* SECTION BLUE FOOTER */

#section-blue2{
    background: url('../../static/images/section-3.png') no-repeat center center;
    background-size: cover;
    height: auto;
    color: white;
    text-align: center;
}

#estilos_parrafos{
    text-align: left;
}

#logo_footer{
    width: 75%;
    margin: 1rem;
}

#iconos{
    width: 10%;
}

#contact{
    padding: 50px;
}