html, body{
    padding: 0;
    margin: 0;
}

.full-container{
    width: 100%;
}

.container{
    width: 70%;
    margin: 0 auto;
}


#social-network{
    height: 30px;
    background-color: #eef3f6;
}

#social-network #social-bar{
    height: auto;
}

#social-network #social-bar #facebook{
    float: right;
    width: 2%;
    margin: 1rem;
}

header nav{
    height: auto;
}

header nav #logo{
    width: 20%;
    margin: 2rem;
}

header nav #nav-items{
    height: 70px;
    background-color: #001841;
}

#nav-items ul{
    list-style: none;
    padding: 30;
    margin: 0 auto;
    display:flex;
    align-items: center;
    line-height: 50px;
}

#nav-items ul li{
    display:block;
    float:left;
    padding:0 10px;

}

#nav-items ul li:link {
    text-decoration: none;
}

#nav-items ul li:active {
    text-decoration: none;
}

#nav-items ul li:visited {
    text-decoration: none;
}

#nav-items ul li:hover {
    border-bottom: 3px solid #FF0013
}

#nav-items ul li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 1em;
}
 
/* SLIDER */

/* SECTION SLIDER */
#slider{
    /* height: 100vh; */    
}

/* SECTION RED */
#section-red{
    background: url('../../static/images/section-2.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

#section-red #content-info{
    position: relative;
    height: 30%;
    background-color: white;
}

#section-red #content-cards{
    position: relative;
    height: 70%;
    background-color: #eff3f6;
}

#section-red #content-info #qsomos{
    position: relative;
    width: 30%;
    height: 100%;
    padding: 15px 0 0 50px;
    color: black;
}

#section-red #content-info #qsomos > span{
    font-size: 20px;
    font-weight: bolder;
}

#section-red #content-info #qsomos > p{
    font-size: 13px;
}

/* SECTION BLUE */
#section-blue{
    background: url('../../static/images/section-3.png') no-repeat center center;
    background-size: cover;
    height: 45vh;
    color: white;
    text-align: center;
}

 .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    background-color: #FF0013;
}
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
}

img{
    width: 100%;
    /* max-width: 100%; */
}

/* SECTION WHITE */

#section-white{
    background-size: cover;
    height: 80vh;
    color: white;
    text-align: center;
}

#section-white #contact{
    position: relative;
    background-color: #eff3f6;
    height: 80vh;
}

.formato{
    color: black;
}

.input-contacto{
    border-radius: 10px;
    height: 30px;
    width: 400px; 
}

.input-contacto2{
    border-radius: 10px; 
}



